.container {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
}

/* header */

header {
    max-width: inherit;
    width: inherit;
    padding: 45px 320px 46px 320px;
    background-color: black;
    display: flex;
}

ul {
    display: flex;
}


nav ul li {
    color: #FFFFFF;
    font-size: 24px;
}

header img {
    margin-left: 706px;
}

.home {
    color: #DCB47A;
}

.shop {
    margin-left: 68px;
}

.aboutUs {
    margin-left: 68px;
    margin-right: 68px;
}


/* section */

.section1 {
    position: relative;
    width: 100%;
}

.text {
    position: absolute;
    left: 396px;
    top: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h2 {
    font-size: 82px;
    color: #FFFFFF;
    width: 1128px;
    text-align: center;
    margin-bottom: 164px;
}

.text p {
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    width: 583px;
    line-height: 150%;
}

.searchBar {
    width: 463px;
    height: 71px;
    display: flex;
    padding: 10px 11px 10px 30px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    align-items: center;
    margin-top: 23.25px;
}

.searchPlant {
    /* ver vasworeb am teqsts marjvniv */
}

/* section 2 */

.section2 {
    margin: 245px 320px;
    width: 1280px;

}

.sectionTitle {
    font-size: 75px;
}

.cards {
    margin-top: 81px;
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 30px 41px 133px 41px;
    border: 1px solid red;
    height: 388px;
}

.photoAndText {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: 17px;
}

/* section 3 */

.section3 {
    margin-left: 320px;
    margin-bottom: 245px;
    position: relative;
}

.photos {
    margin-top: 67px;
    width: 1280px;
    height: 645px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.twoPhotos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo2 {
    width: 522px;
    height: 310px;
}

.text3 {
    position: absolute;
    font-size: 64px;
    color: #DCB47A;
    left: 194px;
    top: 440px;
}

/* footer */

footer {
    background-color: black;
    width: 100%;
}

footer h2 {
    font-weight: 600;
    font-size: 60px;
    color: #FFFFFF;
}

span {
    color: #DCB47A;
}

footer {
    padding: 60px 630px;
}

.footerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-weight: 400;
    font-size: 20.9431px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
    margin-bottom: 50px;
}

.viewNowBox {
    width: 200px;
    height: 64px;
    background: #DCB47A;
    border-radius: 60px;
    padding: 22px 60px;
}

.viewNow {
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
}